In [105]:
import pandas as pd
import numpy as np
import random
from IPython.display import display
import ast

In [106]:
# Import the dataset
data = pd.read_csv("CCLE_Expression_2012-09-29.csv")

In [107]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54677 entries, 0 to 54676
Columns: 2076 entries, Description to Unnamed: 2075
dtypes: float64(1037), object(1039)
memory usage: 866.0+ MB

In [108]:
data.head()
#for col in data.columns: 
    #print(col)

,Description,Accession,LN18_CENTRAL_NERVOUS_SYSTEM,769P_KIDNEY,786O_KIDNEY,CAOV3_OVARY,HEPG2_LIVER,MOLT4_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,NCIH524_LUNG,NCIH209_LUNG,...,Unnamed: 2066,Unnamed: 2067,Unnamed: 2068,Unnamed: 2069,Unnamed: 2070,Unnamed: 2071,Unnamed: 2072,Unnamed: 2073,Unnamed: 2074,Unnamed: 2075
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,54675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DDR1,1007_s_at,9.906211,P,6.850562,P,7.947403,P,10.687700,P,...,11.300900,P,9.445810,P,9.374091,P,10.689760,P,7.487105,P
3,RFC2,1053_at,10.291640,P,9.697540,P,9.803625,P,9.680256,P,...,7.912062,P,10.415230,P,9.280874,P,8.617714,P,9.201281,P
4,HSPA6,117_at,3.889209,A,4.046687,A,3.915063,A,3.902891,A,...,4.244755,A,4.167922,A,4.172154,A,4.100462,A,4.207794,A

In [109]:
datalympho= data.filter(regex='LYMPH')

In [110]:
datalympho.head()

,MOLT4_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,KMS12BM_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,HL60_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,MM1S_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,RS411_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,L1236_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,K562_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,MV411_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,MOLM13_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,RL_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,...,SUDHL8_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,HEL_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,BL41_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,PCM6_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,TALL1_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,KMS18_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,NAMALWA_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,COLO775_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,CMK86_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,HTK_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P,8.548247,9.151993,P,P,P,P,9.977113,10.975000,8.401656,...,P,P,9.899583,P,10.528140,P,P,P,9.404624,P
3,P,8.570664,7.334504,P,P,P,P,9.053253,9.500458,9.671349,...,P,P,9.716398,P,7.888025,P,P,P,8.878755,P
4,A,3.903569,3.819258,P,A,A,A,3.835994,3.860574,3.965426,...,A,A,4.417783,A,4.555014,A,P,A,4.036930,A

In [87]:
datalympho.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54677 entries, 0 to 54676
Columns: 180 entries, MOLT4_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE to HTK_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE
dtypes: float64(88), object(92)
memory usage: 75.1+ MB

In [111]:
datalympho=datalympho.select_dtypes(['number'])

In [113]:
#datalympho.info()
len(datalympho)

54677

In [114]:
len(datalympho.columns)

88

In [115]:
datalympho.shape

(54677, 88)

In [116]:
datalymphoindex= data[['Description','Accession','KMS12BM_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE']]

In [117]:
datalymphoindex.head()
#datalymphoindex.fillna(0)

  Description  Accession  KMS12BM_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE
0         NaN        NaN                                         NaN
1       54675        NaN                                         NaN
2        DDR1  1007_s_at                                    8.548247
3        RFC2    1053_at                                    8.570664
4       HSPA6     117_at                                    3.903569

In [118]:
lymphodataset=pd.merge(datalymphoindex,datalympho, on='KMS12BM_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE')

In [119]:
lymphodataset.head()

,Description,Accession,KMS12BM_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,HL60_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,MV411_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,MOLM13_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,RL_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,SEM_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,RPMI8226_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,HH_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,...,MUTZ5_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,HDLM2_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,KOPN8_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,HS751T_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,SUPM2_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,KARPAS299_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,CMK_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,BL41_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,TALL1_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,CMK86_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,54675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,54675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DDR1,1007_s_at,8.548247,9.151993,9.977113,10.975,8.401656,8.231226,8.841876,11.17702,...,11.28073,12.15269,6.309053,11.43284,8.9315,7.668466,10.34667,9.899583,10.52814,9.404624

In [120]:
df=lymphodataset.dropna()

In [122]:
df.head()

,Description,Accession,KMS12BM_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,HL60_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,MV411_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,MOLM13_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,RL_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,SEM_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,RPMI8226_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,HH_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,...,MUTZ5_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,HDLM2_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,KOPN8_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,HS751T_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,SUPM2_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,KARPAS299_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,CMK_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,BL41_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,TALL1_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,CMK86_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE
4,DDR1,1007_s_at,8.548247,9.151993,9.977113,10.975000,8.401656,8.231226,8.841876,11.177020,...,11.280730,12.152690,6.309053,11.432840,8.931500,7.668466,10.346670,9.899583,10.528140,9.404624
5,RFC2,1053_at,8.570664,7.334504,9.053253,9.500458,9.671349,9.279309,10.111950,9.993085,...,9.425665,9.297275,9.007184,9.791938,7.230172,7.943114,9.303182,9.716398,7.888025,8.878755
6,HSPA6,117_at,3.903569,3.819258,3.835994,3.860574,3.965426,3.906569,4.131165,3.935023,...,3.911107,3.761771,4.436373,3.849190,4.607521,4.039057,3.913542,4.417783,4.555014,4.036930
7,PAX8,121_at,7.546426,6.746925,10.113610,6.610389,7.250319,6.968268,7.473715,7.187194,...,7.246610,6.656007,6.756045,7.408567,10.483690,7.381942,7.106414,7.611836,7.019661,7.930744
8,GUCA1A,1255_g_at,4.210177,3.742416,3.502676,3.560608,3.639899,3.722318,3.438731,3.608082,...,3.460002,3.624213,3.728866,3.543907,3.632908,3.849260,3.541211,3.618832,3.520875,3.448345

In [123]:
df2 = pd.DataFrame(data=df)

In [127]:
df2.columns=df2.columns.str.replace('_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE','')

In [128]:
df2.head()

,Description,Accession,KMS12BM,HL60,MV411,MOLM13,RL,SEM,RPMI8226,HH,...,MUTZ5,HDLM2,KOPN8,HS751T,SUPM2,KARPAS299,CMK,BL41,TALL1,CMK86
4,DDR1,1007_s_at,8.548247,9.151993,9.977113,10.975000,8.401656,8.231226,8.841876,11.177020,...,11.280730,12.152690,6.309053,11.432840,8.931500,7.668466,10.346670,9.899583,10.528140,9.404624
5,RFC2,1053_at,8.570664,7.334504,9.053253,9.500458,9.671349,9.279309,10.111950,9.993085,...,9.425665,9.297275,9.007184,9.791938,7.230172,7.943114,9.303182,9.716398,7.888025,8.878755
6,HSPA6,117_at,3.903569,3.819258,3.835994,3.860574,3.965426,3.906569,4.131165,3.935023,...,3.911107,3.761771,4.436373,3.849190,4.607521,4.039057,3.913542,4.417783,4.555014,4.036930
7,PAX8,121_at,7.546426,6.746925,10.113610,6.610389,7.250319,6.968268,7.473715,7.187194,...,7.246610,6.656007,6.756045,7.408567,10.483690,7.381942,7.106414,7.611836,7.019661,7.930744
8,GUCA1A,1255_g_at,4.210177,3.742416,3.502676,3.560608,3.639899,3.722318,3.438731,3.608082,...,3.460002,3.624213,3.728866,3.543907,3.632908,3.849260,3.541211,3.618832,3.520875,3.448345

In [129]:
import csv
df2.to_csv (r'L:\Kaye Lab\chunxia\Marialab\02202020ccle\lymdataframe.csv', index = None, header=True)

In [67]:
#type(df)

pandas.core.frame.DataFrame

In [130]:
tymsdata=df2[df2['Description'].str.match('TYMS')]

In [131]:
tymsdata

,Description,Accession,KMS12BM,HL60,MV411,MOLM13,RL,SEM,RPMI8226,HH,...,MUTZ5,HDLM2,KOPN8,HS751T,SUPM2,KARPAS299,CMK,BL41,TALL1,CMK86
122434,TYMS,1554696_s_at,11.750490,10.010850,9.773994,7.984043,10.222660,10.766700,10.882010,10.432460,...,10.219770,8.719508,11.337950,11.84331,9.572354,9.669157,10.286260,11.448870,10.070750,10.635330
152931,TYMS,202589_at,12.778960,11.434160,11.628920,10.334200,11.657920,12.255920,12.343780,12.002760,...,11.950910,10.728710,12.739950,13.23219,11.355370,11.340770,11.961050,12.808360,11.822710,12.560870
169876,TYMS,217684_at,5.761752,3.846555,4.383683,4.364041,4.709505,3.841288,4.438913,4.147864,...,4.494104,3.984501,5.021622,6.02910,3.961258,4.044188,5.554023,4.280239,4.290265,3.815797

In [132]:
tymsdata.to_csv (r'L:\Kaye Lab\chunxia\Marialab\02202020ccle\tymsdata.csv', index = None, header=True)